*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
    background-color:#fff;
    color: #555 !important;
    font-family: 'lato','Arial','sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    
}

/*---------------------------*/



/*-------------------*/
/*FOOTER*/
/*-------------------*/

footer{
    background-color: #333;
    padding: 30px 100px 30px 100px;
    font-size: 85%; 
    
}


.footer_nav{
    list-style: none;
    float: left;
    
}


.social_links{
    list-style: none;
    float: right;
    font-size: 130%;
    
}

.footer_nav li,
.social_links li{
    display: inline-block;
    margin-right: 30px;
    
    
}

.footer_nav li:last-child,
.social_links li:last-child{
    margin-right: 0;
}

.footer_nav li a:link,
.footer_nav li a:visited,
.social_links li a:link,
.social_links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color .3s;
    transition: color .3s;
    
}


.footer_nav li a:hover,
.footer_nav li a:active{
    color: #ddd;
}

.social_links li a:link,
.social_links li a:visited{
    font-size: 125%;
    
}


.social_links li a.logo_facebook:hover{
    color: #3b5998;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    
}
.social_links li a.logo_twitter:hover{
    color: #00acee;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;

}
.social_links li a.logo_googleplus:hover{
    color: #dd4b39;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;

}
.social_links li a.logo_instagram:hover{
    color: #e95950;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;

}


.footer_text{
    color: #888;
    margin-bottom: -10px;
}
